version: 2
jobs:
  build:
    docker:
      - image: cypress/base:10.16.0

    steps:
      - checkout
      - restore_cache:
          name: Restore yarn and Cypress cache
          keys:
            - dependency-cache-{{ checksum "yarn.lock" }}
      - run:
          name: Install dependencies
          command: yarn --frozen-lockfile
      - run:
          name: Run server
          command: ENV=cypress yarn start
          background: true
      - run:
          name: Run tests
          command: yarn test:ci
      - run:
          name: Run Jest tests
          command: yarn jest src
      - run:
          name: Run linter
          command: yarn lint

      - save_cache:
          key: dependency-cache-{{ checksum "yarn.lock" }}
          paths:
            - ~/.cache
