@import '~loaders.css/src/animations/ball-scale-multiple';
@import 'settings';

html {
  font-size: 10px;
  height: 100%;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-variant-ligatures: none;
  font-variant-ligatures: none;
  font-weight: 400;
  height: 100%;
  margin: 0;
  text-rendering: optimizeLegibility;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}

.loading-wrapper {
  align-items: center;
  display: flex;
  height: 5rem;
  justify-content: center;
  width: 5rem;

  // These two classes are required by react-loaders
  .loader-hidden {
    display: none;
  }
  .loader-active {
    display: block;
  }
}

.header {
  padding: 1rem;
  text-align: center;

  &__logo {
    width: 150px;
  }
}
